{
    "presets": [
        "env"
        
    ],
    "plugins": [
        "babel-plugin-transform-object-rest-spread"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}